<footer>
	<div class="container">
		<div class="row">
			<div class="col">
				<small>&copy; Copyright - Consultorios Sagrada Familia - Derechos reservados</small>
			</div>
			<div class="col">2018</div>
		</div>
	</div>
</footer>