<!DOCTYPE html>
</body>
<html lang="es">

<head>
    <% include ../partials/header %>
        <title>Consultorios Sagrada Familia</title>
</head>

<body class="fondo b-contenido">
    <div class="container">
        <div class="espacio">
            <row>
                <div class="col">
                    <a href="/auth/signin"><button class="myButton">Pacientes</button></a>
                </div>

            </row>
            <row>
                <div class="col">
                    <a href="/auth/signindoc"><button class="myButton">Doctores</button></a>
                </div>

            </row>
        </div>

    </div>
</body>

</html>