<!DOCTYPE html>
</body>
<html lang="es">

<head>
    <% include ../partials/header %>
        <title>Menú Usuario</title>
</head>

<body class="fondo b-contenido">
    <div class="container">
        <div class="espacio-menu">
            <row>
                <div class="col">
                    <a href="/turnos"><button class="myButton">Sacar Turno</button></a>
                </div>

            </row>
            <row>
                <div class="col">
                    <a href=""><button class="myButton">Ver Mis Turnos</button></a>
                </div>

            </row>
            <row>
                <div class="col">
                    <a href=""><button class="myButton">Historia Clínica</button></a>
                </div>

            </row>
        </div>

    </div>
</body>

</html>